body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: black
}

/*Container med et bakgrunnsbildet, vi puttet dette i en div class i stedet
for body for mer konsistent posisjonering og plassering*/
.Main_Container {
    display:flex;
    flex-direction: row;
    width: 1920px;
    height: 1080px;
    position: relative;
    justify-content: center;
    background-image: url(../images/Startside.jpg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: crosshair;
}

.Main_Container>* {
    position: absolute;
}

/*lydfil av main-themen til Avatar, denne autoplayer og looper i startside*/
audio {
    display: none;
}

/*Animert headliner med en liten blur, konfigurert posisjon og plassering bittelitt*/
#Header {
    transform: translateX(-50%);
    transform: translateY(-50%);
    top: 100px;
    display: flex;
    font-family: papyrus;
    background-clip: text;
    font-size: 100px;
    color: teal;
    background: linear-gradient(to right, rgb(36, 72, 230), lightblue, rgb(36, 72, 230), rgb(36, 72, 230));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: Grad 3s linear infinite alternate, Fade 3s running forwards;
    background-size: 400% 100%;
    text-shadow: none;
    opacity: 0;
    filter: blur(1px);
}

/*En liten overraskelse ;) Hvis du hadde problemer med å finne denne ligger den
ca. nederst til høyre i siden*/
#Easter_Egg {
    position: relative;
    top: 800px;
    left: 750px;
}

/*Små effekter og scale av bildet*/
#Egg {
    position: absolute;
    transition: transform .2s;
    left: 100px;
    top: 100px;
    color: rgb(19, 17, 14);
    width: 10px;
    height: 10px;
}

/*Hover effekt for når du finner overraskelsen */
#Egg:hover {
    transform: scale(90);
}

/*Anker for de andre puzzle boksene som kommer videre nedover,
endrer også fargen*/
.Puzzles {
    position: relative;
    top: 130px;
    right: 35px;
    color: rgb(255, 0, 191);
    text-align: center;
    text-shadow:
    0 0 7px white,
    0 0 10px white,
    0 0 21px rgb(255, 11, 222),
    0 0 42px rgb(255, 11, 222),
    0 0 82px rgb(255, 11, 222),
    0 0 92px rgb(255, 11, 222),
    0 0 102px rgb(255, 11, 222),
    0 0 151px rgb(255, 11, 222);
}

/*Gir posisjonene til de andre div'ene inni .Puzzles en fast posisjon
og regulerer høyde og bredde*/
.Puzzles>div{
    position: absolute;
    height: 100px;
    width: 100px;
}

/*Posisjonering av start til puzzle*/
#Start_Puzzle {
    top: 100px;
}

/*Videre nedover har vi brukt opacity 0 så man ikke kan jukse i spillet
ellers har vi bare posisjonert boksene i varierte plasser*/
#Puzzle1 {
    left: 210px;
    top: 325px;
    opacity: 0;
}

#Puzzle2 {
    top: 30px;
    left: 750px;
    opacity: 0;
}

#Puzzle3 {
    top: -125px;
    right: 815px;
    opacity: 0;
}

#Puzzle4{

    top: 285px;
    left: 75px;
    opacity: 0;
}

#Puzzle5 {
    top: 550px;
    left: 225px;
    opacity: 0;
}

/*Vi la til en rgb animasjon som bakgrunn i boksen*/
#Puzzle1:hover, #Puzzle2:hover, #Puzzle3:hover, #Puzzle4:hover, #Puzzle5:hover {
    background: linear-gradient(45deg,#F17C58,#358ab1,#dbb024,#27DBB1,#FFDC18,#FF3706);
    background-size: 600% 100%;
    border-radius: 10px 10px 10px 10px;
    animation: Puzzle 0.5s running forwards, Grad 5s linear ;
    animation-direction: alternate;
    animation-iteration-count: 1, infinite;
}

/*Datamusen blir endret*/
.Link{
    cursor: crosshair;
}

/*Datamusen forblir til crosshair selv over :hover elementer*/
.Link:hover{
    cursor: crosshair;
}

/*Animasjon for Puzzles, vi la til en 360 graders spin og en fade inn*/
@keyframes Puzzle {
    from {opacity: 0%; transform: rotate(0deg);}
    to {opacity: 100%;transform: rotate(360deg);}
}

/*Animasjon for headliner, dette gjør det til at fargene som er i headlineren
beveger seg*/
@keyframes Grad {
    0% {background-position: 0%;}
    100% {background-position: 100%;}
}

/*en fade-in animasjon når siden blir loadet*/
@keyframes Fade {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

