body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: black;
    cursor: default;
}

/*Container for bakgrunnsbilde slik at alle elementer forblir på sin posjisjon
uavhengig av zoom på skjerm og nettleser*/
.Main_Container { 
    display:flex;
    flex-direction: row;
    width: 1920px;
    height: 1080px;
    position: relative;
    justify-content: center;
    background-image: url(/Media/images/Hovedside.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.Main_Container>* {
    position: absolute;
}

/*Tittel for hovedside*/
#Header {
    transform:translateX(-50%);
    transform: translateY(-50%);
    display: flex;
    position: absolute;
    top: 50px;
    left: 550px;
    font-size: 40px;
    font-family: Papyrus;
    color: cadetblue;
    filter: blur(1px);
    background: linear-gradient(to right, cadetblue, turquoise, lightskyblue, blue);
    background-clip: text;
    color: transparent;
    animation-name: Rainbow;
    -webkit-background-clip: text;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    background-size: 200% 100%;
}

/*Anker for alle div elementer som kommer videre nedover*/
#Div1 {
    position: relative;
    top: 130px;
    right: 35px;
}

#Div1>div {
    position: absolute;
}

/*Her har vi brukt en before funksjon for et rektangel med farger
(gradient animasjon) og animert den til å spinne 360 grader inni Person1-Person6b borderet*/
#Person1::before, #Person2::before, #Person3::before, #Person4::before, #Person5::before, #Person6::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 200%;
    top: -200px;
    left: 50px;
    background: linear-gradient(violet, turquoise, rgb(85, 85, 167), blue, rgb(128, 0, 0), yellow);
    animation: animate 4s linear infinite forwards;
    z-index: -1;
}

/*Videre i after satte vi opp en boks med inset så den roterende
rektangelen vil bare synes langs kanten av boksen*/
#Person1::after, #Person2::after, #Person3::after, #Person4::after, #Person5::after, #Person6::after {
    content: '';
    position: absolute;
    inset: 4px;
    background:cadetblue;
    border-radius: 50px;
    z-index: -1;
}
/*Person1 - Person6 er om de forskjellige karakterene i filmen Avatar.
Vi satte opp en enkel border med grunnleggende kode for 
img, p og h1 som kommer videre nedover og satte opacity til 0*/
#Person1 {
    position: relative;
    border: 2px solid black; 
    top: 50px;
    left: -700px;
    border-radius: 50px;
    width: 250px;
    height: fit-content;
    background-color: cadetblue;
    font-family: papyrus;
    transition: 2s;
    opacity: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 10;
}

#Person2 {
    position: relative;
    border: 2px solid black; 
    top: 350px;
    left: 325px;
    border-radius: 50px;
    width: 250px;
    height: fit-content;
    background-color: cadetblue;
    font-family: papyrus;
    transition: 2s;
    opacity: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 10;
}

#Person3 {
    position: relative;
    border: 2px solid black; 
    top: 100px;
    right: 325px;
    border-radius: 50px;
    width: 250px;
    height: fit-content;
    background-color: cadetblue;
    font-family: papyrus;
    transition: 2s;
    opacity: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 10;
}

#Person4 {
    position: relative;
    border: 2px solid black; 
    top: 0px;
    left: -210px;
    border-radius: 50px;
    width: 250px;
    height: fit-content;
    background-color: cadetblue;
    font-family: papyrus;
    transition: 2s;
    opacity: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 10;
}

#Person5 {
    position: relative;
    border: 2px solid black; 
    top: 300px;
    right: 350px;
    border-radius: 50px;
    width: 250px;
    height: fit-content;
    background-color: cadetblue;
    font-family: papyrus;
    transition: 2s;
    opacity: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 10;
}

#Person6 {
    position: absolute; 
    top: 100px;
    right: -100px;
    border-radius: 50px;
    width: 250px;
    height: fit-content;
    background-color: cadetblue;
    font-family: papyrus;
    transition: 2s;
    opacity: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 10;
}
/*Her kommer grunnen til at vi satte opacity til 0 for Person1-Person6.
Vi har laget en boks som er knyttet til Person1-Person6
og ved å hovre over denne boksen går opacity til 1 med en liten
transition animasjon*/
#Hover1:hover + #Person1, #Hover2:hover + #Person2, #Hover3:hover + #Person3, #Hover4:hover + #Person4, #Hover5:hover + #Person5, #Hover6:hover + #Person6, #Creditsboks:hover + #Credits { 
    transition: 0.7s;
    opacity: 1;
}

/*Litt konfigurering og posisjonering av GIF img i de forskjellige borderne våre,
vi hadde problemer med å regulere høyde på bildet mens det var inni borderet*/
#Person1>img, #Person2>img, #Person3>img, #Person4>img, #Person5>img, #Person6>img {
    max-width: 200px;
    max-height: 170px;
    border-radius: 47px 0px 50px 0;
    margin-right: 200px;
}
/*Posisjonering av headliner i border*/
#Person1>h1, #Person2>h1, #Person3>h1, #Person4>h1, #Person5>h1, #Person6>h1 { 
    margin-left: 20px;
}
/*Posisjonering av paragrafet*/
#Person1>p, #Person2>p, #Person3>p, #Person4>p, #Person5>p, #Person6>p {
    max-width: 200px;
    margin-left: 20px;
}
/*Posisjonering av hover boksene og finpussing av de*/
#Hover1 {
    background-color: white;
    border-radius: 15px;
    opacity: 0.2;
    top: 50px;
    left: -765px;
    width: 50px;
    height: 50px;
}

#Hover2 {
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    opacity: 0.2;
    top: 850px;
    left: 350px;
    width: 200px;
    height: 100px;
}

#Hover3 {
    opacity: 0.2;
    background-color: white;
    border-radius: 15px;
    top: 10px;
    left: -500px;
    width: 50px;
    height: 50px;
}

#Hover4 {
    opacity: 0.2;
    background-color: white;
    border-radius: 15px;
    top: 25px;
    left: -290px;
    width: 50px;
    height: 50px;
}

#Hover5 {
    opacity: 0.2;
    background-color: white;
    border-radius: 15px;
    top: 568px;
    right: 650px;
    width: 50px;
    height: 50px;
}

#Hover6 {
    opacity: 0.2;
    background-color: white;
    border-radius: 15px;
    top: 80px;
    left: 150px;
    width: 175px;
    height: 175px;
}

/*Samme utgangspunkt som Person1-Person6, vi gjemte Credits med opacity 0
og ordnet med posisjonering og teksten*/
#Credits {
    position: absolute;
    width: 320px;
    height: 200px;
    top: 40px;
    right: 150px;
    border-radius: 50px;
    font-family: papyrus;
    font-size: 50px;
    transition: 2s;
    opacity: 0;
}

/*Satte opp en animasjon på teksten i Credits som beveger flere farger
fra venstre til høyre*/
#Credits>p {
    background: linear-gradient(to right, red, cadetblue, yellow, purple);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation-name: Rainbow;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    background-size: 200% 100%;
    position: absolute;
}

/*Boks for hover effekt så Credits kommer frem (Vi komprimerte dette inn med
alle de andre :hover boksene)*/
#Creditsboks {
    background-color: white;
    border-radius: 15px;
    opacity: 0.2;
    width: 50px;
    height: 50px;
    top: 40px;
    left: 1775px;
}

/*Her har vi animasjonen for bevegelsen av fargene som vi brukte i Credits*/
@keyframes Rainbow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*Animasjonen for before (roterer 360 grader)*/
@keyframes animate {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}
