#header{
display: flex;
justify-content: center;
text-shadow: 2px blue;
font-family: sans-serif;
color: blue;
font-size: larger;
animation: fadeinin 2s;
-webkit-animation: fadein 2s;
animation-name: rotateMe;
animation-duration: 11s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-play-state: running;
}


@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes rotateMe {
    from {transform: rotate(350deg);}
    to {transform: rotate(10deg);}
}