body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: black
}


.Main_Container {
    display:flex;
    flex-direction: row;
    width: 1920px;
    height: 1080px;
    position: relative;
    justify-content: center;
    background-image: url(images/Startside.jpg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: crosshair;
}
.Main_Container>* {
    position: absolute;
}
audio {
    display: none;
}



#Header {
    transform: translateX(-50%);
    transform: translateY(-50%);
    top: 100px;
    display: flex;
    font-family: papyrus;
    background-clip: text;
    font-size: 100px;
    color: teal;
    background: linear-gradient(to right, rgb(36, 72, 230), lightblue, rgb(36, 72, 230), rgb(36, 72, 230));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: Grad 3s linear infinite alternate, Fade 3s running forwards;
    background-size: 400% 100%;
    text-shadow: none;
    opacity: 0;
    filter: blur(1px);
}


#Easter_Egg {
    position: relative;
    top: 800px;
    left: 750px;
}
#Paragraf {
    position: absolute;
    transition: transform .2s;
    left: 100px;
    top: 100px;
    color: rgb(19, 17, 14);
    width: 10px;
    height: 10px;

}
#Paragraf:hover {
    transform: scale(90);

}

.Puzzles {
    position: relative;
    top: 130px;
    right: 35px;
    color: rgb(255, 0, 191);
    text-align: center;
}


.Puzzles>div{
    position: absolute;
    height: 100px;
    width: 100px;
}
#Start_Puzzle {
    top: 100px;


}
#Puzzle1 {
    left: 210px;
    top: 325px;
    opacity: 0;
}
#Puzzle1:hover {
    background: linear-gradient(45deg,#F17C58,#358ab1,#dbb024,#27DBB1,#FFDC18,#FF3706);
    background-size: 600% 100%;
    border-radius: 10px 10px 10px 10px;
    animation: Puzzle 0.5s running forwards, Grad 5s linear ;
    animation-direction: alternate;
    animation-iteration-count: 1, infinite;
}

#Puzzle2 {
    top: 30px;
    left: 750px;
    opacity: 0;
}
#Puzzle2:hover {
    background: linear-gradient(45deg,#F17C58,#358ab1,#dbb024,#27DBB1,#FFDC18,#FF3706);
    background-size: 600% 100%;
    border-radius: 10px 10px 10px 10px;
    animation: Puzzle 0.5s running forwards, Grad 5s linear ;
    animation-direction: alternate;
    animation-iteration-count: 1, infinite;
}
#Puzzle3 {
    top: -125px;
    right: 815px;
    opacity: 0;
}
#Puzzle3:hover {
    background: linear-gradient(45deg,#F17C58,#358ab1,#dbb024,#27DBB1,#FFDC18,#FF3706);
    background-size: 600% 100%;
    border-radius: 10px 10px 10px 10px;
    animation: Puzzle 0.5s running forwards, Grad 5s linear ;
    animation-direction: alternate;
    animation-iteration-count: 1, infinite;
}
#Puzzle4{

    top: 285px;
    left: 75px;
    opacity: 0;
}

#Puzzle4:hover {
    background: linear-gradient(45deg,#F17C58,#358ab1,#dbb024,#27DBB1,#FFDC18,#FF3706);
    background-size: 600% 100%;
    border-radius: 10px 10px 10px 10px;
    animation: Puzzle 0.5s running forwards, Grad 5s linear ;
    animation-direction: alternate;
    animation-iteration-count: 1, infinite;
}

#Puzzle5 {
    top: 550px;
    left: 225px;
    opacity: 0;
}
#Puzzle5:hover {
    background: linear-gradient(45deg,#F17C58,#358ab1,#dbb024,#27DBB1,#FFDC18,#FF3706);
    background-size: 600% 100%;
    border-radius: 10px 10px 10px 10px;
    animation: Puzzle 0.5s running forwards, Grad 5s linear ;
    animation-direction: alternate;
    animation-iteration-count: 1, infinite;
}


.Link{
    cursor: crosshair;
}
.Link:hover{
    cursor: crosshair;
}
@keyframes Puzzle {
    from {opacity: 0%; transform: rotate(0deg);}
    to {opacity: 100%;transform: rotate(360deg);}
}
@keyframes Grad {

    0% {background-position: 0%;}
    100% {background-position: 100%;}
}
@keyframes Fade {
    from {opacity: 0%;}
    to {opacity: 100%;}
}